<header>
<!-- Start Second navbar -->
  <div class="second">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <div class="icons">
          <fa-icon class="mx-2 text-white" [icon]="['fab','facebook']"></fa-icon>
          <fa-icon class="mx-2 text-white" [icon]="['fab','twitter']"></fa-icon>
          <fa-icon class="mx-2 text-white" [icon]="['fab','instagram']"></fa-icon>
          <fa-icon class="mx-2 text-white" [icon]="['fab','linkedin']"></fa-icon>
        </div>
        <div>
          <ul
            class="align-items-center m-0 buttons d-flex justify-content-center list-unstyled"
          >
            <li><a href="#" class="text-uppercase text-white">login</a></li>
            <li><a href="#" class="text-uppercase text-white"> signup </a></li>
            <li class="">
              <a
                class="dropdown-toggle text-white"
                data-bs-toggle="dropdown"
                href="#"
                role="button"
                aria-expanded="false"
                >USA</a
              >
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">USD</a></li>
                <li><a class="dropdown-item" href="#">INR</a></li>
                <li><a class="dropdown-item" href="#">EURO</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- End Second navbar -->
  <div class="third">
    <div class="navbar navbar-expand-lg bg-white">
      <div class="container">
        <a class="navbar-brand" href="#"><img src="https://themes.codezion.com/angular/toor/assets/images/toor-logo.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon">
            <fa-icon icon="bars"></fa-icon>
          </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Home
              </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Hotels
              </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Flights
              </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Cruise
              </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Cars
              </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Blog
              </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Pages
              </a>
            </li>
          </ul>

          <div class="d-flex">
            <a class="enquiry" href="#">Enquiry Now</a>
          </div>

        </div>
      </div>
    </div>
  </div>
</header>
