.header h3:after {
  content: "";
  display: block;
  width: 80px;
  height: 2px;
  background: #01b7f2;
  margin-top: 20px;
}
.header h3 {
  margin: 0 0 20px 0px;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  color: #000;
  position: relative;
  font-size: 28px;
}
